In [1]:
import pandas as pd
import os

In [18]:
os.listdir('../data/morbilidad/anterior/Morbi15_G1/CSV')

['EMH_2015_G1.csv']

In [22]:
morbi15 = pd.read_csv('../data/morbilidad/anterior/Morbi15_G1/CSV/EMH_2015_G1.csv',sep='\t')

In [27]:
morbi15.sample(10)

,Norden,ProvHosp,Sexo,ProvResi,DiagEntr,FxAlta,DiagPrin,MotivoAlta,EdadAnios,EdadMes,EdadDias,DiasEstancia,Factor
269452,29052745,29,2,53,1,150619,1749,1,80,6,15,16,1.00000
141953,19562623,21,2,21,2,150210,1531,1,83,4,26,11,1.00000
245852,46589553,50,1,50,1,151015,1638,1,76,0,25,2,1.00000
104918,21634236,27,1,27,2,150211,1120,1,89,9,25,9,1.00000
103541,13602750,11,2,11,2,150507,941,1,83,0,12,3,1.01609
265845,46093469,50,2,50,2,150804,1749,3,69,2,25,6,1.00000
861134,42652851,46,2,46,2,151126,3454,1,28,0,23,19,1.00000
426161,43565643,46,2,46,2,150616,1983,1,56,1,9,6,1.00000
207572,28500084,28,1,28,1,150902,1619,1,65,5,13,30,1.00190
580709,44911907,48,1,48,2,151009,2509,1,92,8,6,4,1.00000

In [25]:
morbi15.drop("Blanco",axis = 1, inplace = True)

In [26]:
morbi15

,Norden,ProvHosp,Sexo,ProvResi,DiagEntr,FxAlta,DiagPrin,MotivoAlta,EdadAnios,EdadMes,EdadDias,DiasEstancia,Factor
0,8388943,8,2,8,2,150701,10,1,0,1,12,2,1.01920
1,11271415,8,1,8,2,150719,10,1,52,9,23,1,1.01920
2,16943609,17,1,17,2,150107,10,1,83,3,10,3,1.04965
3,30031889,29,2,29,2,150828,10,1,61,1,12,2,1.00943
4,34931903,35,1,35,2,150924,11,1,58,2,11,6,1.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
945010,41624992,46,2,46,1,150529,3890,1,61,7,19,2,1.00000
945011,41644319,46,2,46,1,150730,3890,1,55,8,30,1,1.00000
945012,41666870,46,1,46,1,151022,3890,1,41,5,19,1,1.00000
945013,41681439,46,2,46,1,151203,3892,1,49,6,21,1,1.00000
945014,41681444,46,1,46,1,151204,3892,1,48,4,20,2,1.00000

In [31]:
morbi15.DiagPrin.value_counts()

1889    28200
389     27165
185     17040
1629    16828
1749    15923
        ...
742         1
2825        1
761         1
778         1
2246        1
Name: DiagPrin, Length: 1975, dtype: int64